.clearfix
  .row.sixteen.columns
    h1 Projects
  .row
    each i in public.projects.data
      li.project.three.columns
        a(href="./#{i.url}")
          img(src="/assets/img/#{i.img}")
          caption #{i.name}