!!!
html
  head
    != partial("/_shared/title")
    //-title #{current.path.length}
    != partial("/_shared/css")
  body
    header
      != partial("/_shared/nav")
    .container
      != yield
    != partial("/_shared/js")
    footer
