h1 Blog
#articles
  ul
    each article in public.blog.data
      - var url = article.title.toLowerCase().replace(/ /g, '-')
      li
        a(href="/blog/#{url}", data-id="#{article.id}") #{ article.title }